<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Michael Gira</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
		<link rel="manifest" href="/manifest.json?v=2">
		<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#000000">
		<link rel="shortcut icon" href="/favicon.ico?v=2">
		<meta name="theme-color" content="#ffffff">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:100,300,400" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>
	<body>
		<svg id="exciting-svg"></svg>

		<div id="boring-content">
			<div class="header-container">
				<header>
					<h1 class="intro-hello">Hello.</h1>
					<p class="intro-desc">My name is Michael Gira, and I've been a full stack developer for several years now.</p>
					<div class="intro-contact">
						<a class="github" href="https://github.com/michaelgira23" target="_blank">
							<img src="/assets/img/github/dark.svg">
						</a>
						<a class="linkedin" href="https://linkedin.com/in/michael-gira" target="_blank">
							<img src="/assets/img/contact/linkedin.png">
						</a>
						<a class="email" href="mailto:contact@michaelgira.me">contact@michaelgira.me</a>
					</div>
				</header>
			</div>
			<section class="skills">
				<h2>Skills</h2>
				<div class="skills-list">
					<% skills.forEach(skill => { %>
						<div class="skill">
							<img class="skill-logo" src="/assets/img/logos/<%= skill.logo.split('/')[1] %>">
							<h5 class="skill-name"><%= skill.name %></h5>
						</div>
					<% }); %>
				</div>
			</section>
			<section class="projects">
				<h2>Projects</h2>
				<div class="projects-list">
					<% projects.forEach(project => { %>
						<div class="project">
							<h3 class="project-heading">
								<a class="project-code" href="https://github.com/<%= project.github %>" target="_blank">
									<img src="/assets/img/github/dark.svg">
								</a>
								<%= project.name %>
							</h3>
							<a class="project-hover" href="<%= project.live %>" target="_blank">
								<img class="project-image" src="/assets/img/projects/<%= project.imageURL %>">
								<p class="project-desc"><%= project.desc %></p>
								<div class="hover hover--top"></div>
								<div class="hover hover--right"></div>
								<div class="hover hover--bottom"></div>
								<div class="hover hover--left"></div>
							</a>
						</div>
					<% }); %>
				</div>
			</section>
			<footer>
				Copyright &copy; 2017 Michael Gira
			</footer>
		</div>

		<script src="/assets/js/snap.svg-min.js"></script>
		<script src="/assets/js/easings.js"></script>
		<script src="/assets/js/animation.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76216916-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-76216916-1');
		</script>
	</body>
</html>
